.Point {
    width: 230px;
    margin-bottom: 83px;
}
.Number {
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 19px;
}
.Text {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
