@import "../../variables.scss";

@keyframes Externalpulse {
    0% {
        background-color: #fff9f5;
    }
    50% {
        background-color: #fff;
    }
    100% {
        background-color: #fff9f5;
    }
}
@keyframes Internalpulse {
    0% {
        background-color: $primary-color;
    }
    50% {
        background-color: #fff9f5;
    }
    100% {
        background-color: $primary-color;
    }
}
.External {
    align-items: center;
    animation: Externalpulse 5s infinite;
    animation-delay: 2s;
    background-color: #fff9f5;
    border-radius: 84px;
    display: flex;
    justify-content: center;
    height: 84px;
    margin-left: 30px;
    width: 84px;
}
.Internal {
    align-items: center;
    animation: Internalpulse 5s infinite;
    background-color: $primary-color;
    border-radius: 58px;
    display: flex;
    justify-content: center;
    height: 58px;
    width: 58px;
}
.Back {
    animation: none;
    align-items: center;
    background-image: url("/icons/media-play-back.png");
    background-size: cover;
    background-position: 16% 0%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 39px;
    width: 39px;
}
