@import "../../variables.scss";

.Argument {
  align-items: center;
  border: 1px solid #edf1f2;
  display: flex;
  height: 100px;
  width: 305px;
}
.Icon {
  margin-left: 11px;
  margin-right: 17px;
}
.Text {
  color: $txt-color;
  font-weight: bold;
  font-size: 16px;

  line-height: 24px;
  text-transform: uppercase;
}
