@import "../../variables.scss";

.Argument {
    align-items: center;
    border: 1px solid #edf1f2;
    display: flex;
    height: 100px;
    width: 305px;
}
.Icon {
    margin-left: 11px;
    margin-right: 17px;
}
.Text {
    color: $txt-color;
    font-weight: bold;
    font-size: 16px;

    line-height: 24px;
    text-transform: uppercase;
}
.TapIcon {
    position: relative;
}
.TapImage {
    transform: rotate(335deg);
}
.Cross {
    background-image: linear-gradient(
            45deg,
            transparent 13px,
            #ff4444 13px,
            #ff4444 15px,
            transparent 0
        ),
        linear-gradient(
            -45deg,
            transparent 13px,
            #ff4444 13px,
            #ff4444 15px,
            transparent 0
        );
    height: 20px;
    position: absolute;
    top: 0;
    width: 20px;
}
